h1 {
  text-align: center;
}

img {
  display: block;
  margin: auto; 
}

nav {
  text-align: center;
}
nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: lightgray;
}

figcaption{
  text-align: center;
  font-size: small;
}
#featured-property p {
 width: 800px;
 margin: 20px auto;
 text-align: center;
}

#details div {
  float: left;
  width: 25%;
  text-align: center;
  background-color: lightgray;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 50px
  
}
